# Code owners file is read from top to bottom, with the later (more specific) entries taking precedence over the earlier
# ones
@krzysztof-causalens

# Package Owners overrides
/packages/dara-components @krzysztof-causalens @patricia-causalens
/packages/ui-components @krzysztof-causalens @patricia-causalens
/packages/ui-causal-graph-editor @krzysztof-causalens @patricia-causalens