# CL
.causalens.env
venv/

# Build
docker/mount
/docker-compose.yml
*~
.build
logs/
reference
Reference
dist
bin

# Editors
**/.DS_Store
**/.vscode
.idea/
\#*
pyrightconfig.json

# Python
__pycache__/
**/.mypy_cache
.pytest_cache/
test_results
.venv
poetry.toml
!/poetry.toml
poetry.lock
!/poetry.lock
pyrightconfig.json
.ipynb_checkpoints

# JS
**/node_modules
package-lock.json
