[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]
[tool.blue]
line-length = 120
[tool.borg.scripts]
format = "poetry run isort dara && poetry run blue dara"
format-check = "poetry run isort --check dara && poetry run blue --check dara"
lint = "poetry run mypy --ignore-missing-imports  -p dara.components && poetry run pylint dara"
package = "poetry build -f wheel"
publish = "poetry publish"
security-scan = "poetry run bandit dara -r -ll -i"
test = "poetry run pytest ./tests"

[tool.isort]
known_causalens = ["cl_api", "cl_core", "clpu", "dara", "causalnet_v2"]
profile = "black"
sections = ["FUTURE", "STDLIB", "THIRDPARTY", "CAUSALENS", "FIRSTPARTY", "LOCALFOLDER"]

[tool.poetry]
authors = ["Patricia Jacob <patricia@causalens.com>", "Krzysztof Bielikowicz <krzysztof@causalens.com>", "Sam Smith <sam@causalens.com>"]
description = "Components for the Dara Framework"
homepage = "https://dara.causalens.com/"
include = ["dara/components/umd/**/*"]
license = "Apache-2.0"
name = "dara-components"
readme = "README.md"
repository = "https://github.com/causalens/dara"
version = "1.7.9"

[[tool.poetry.packages]]
include = "dara"

[tool.poetry.dependencies]
bokeh = ">=3.1.0, <3.2.0"
cai-causal-graph = ">=0.3.6"
dara-core = "=1.7.9"
dill = ">=0.3.0, <0.4.0"
matplotlib = ">=2.0.0"
pandas = ">=1.1.0, <3.0.0"
plotly = ">=5.14.0, <5.15.0"
python = ">=3.8.0, <3.12.0"
scipy = "*"
seaborn = ">=0.11.0"

[tool.poetry.dev-dependencies]
bandit = "^1.7.5"
blue = "^0.9.0"
isort = "^5.10.1"
mypy = "^1.6.0"
pylint = "^3.0.0"
pytest = "^7.0.0"

[tool.poetry.dev-dependencies.dara-core]
develop = true
path = "../dara-core"
