[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]

[tool.anthology.scripts]
format = "poetry run ruff check --select I --fix --unsafe-fixes . && poetry run ruff format ."
format-check = "poetry run ruff check --select I . && poetry run ruff format --check ."
lint = "poetry run pyright ./dara && poetry run ruff check ./dara"
package = "poetry build -f wheel"
publish = "poetry publish"
security-scan = "poetry run bandit dara -r -ll -i"
# Pool tests are ran after because they don't work well with parallelization
test = "mkdir -p ./dist && DARA_TEST_FLAG=true poetry run pytest ./tests -n auto -v -m 'not pool' && poetry run pytest ./tests/python/test_pool.py -v"

[tool.poetry]
authors = ["Sam Smith <sam@causalens.com>", "Krzysztof Bielikowicz <krzysztof@causalens.com>"]
description = "Dara Framework Core"
homepage = "https://dara.causalens.com/"
include = ["dara/core/js_tooling/**/*", "dara/core/_assets/**/*", "dara/core/log_configs/**/*"]
license = "Apache-2.0"
name = "dara-core"
readme = "README.md"
repository = "https://github.com/causalens/dara"
version = "1.21.25"
source = []

[[tool.poetry.packages]]
include = "dara"

[tool.poetry.dependencies]
aiorwlock = "^1.4.0"
anyio = ">=4.0.0"
async-asgi-testclient = "^1.4.11"
cachetools = "^5.0.0"
click = "^8.1.3"
colorama = "^0.4.6"
croniter = "^6.0.0"
certifi = ">=2024.7.4"
cryptography = ">=42.0.4"
exceptiongroup = "^1.1.3"
fastapi = ">=0.115.0, <0.121.0"
fastapi_vite_dara = "0.4.0"
httpx = ">=0.23.0"
jinja2 = ">=2.1.1, <3.2.0"
odfpy = "*"
openpyxl = "*"
packaging = ">=23.1"
pandas = ">=1.1.0, <3.0.0"
prometheus-client = "^0.14.1"
pyarrow = "*"
pydantic = ">=2.11.7, <3.0.0"
pyjwt = ">=2.3.0, <3.0.0"
python = ">=3.10.0, <3.13.0"
python-dotenv = ">=0.19.2"
python-multipart = ">=0.0.7"
pyxlsb = "*"
responses = "^0.18.0"
tblib = "^1.7.0"
toml = "^0.10.2"
typing-extensions = ">=4.5.0"
xlrd = "*"
pydantic-settings = "^2.8.1"
h11 = ">=0.16.0"
jsonpatch = ">=1.33"
backoff = "^2.2.1"

[tool.poetry.dependencies.create-dara-app]
optional = true
version = "1.21.25"

[tool.poetry.dependencies.dara-components]
optional = true
version = "1.21.25"

[tool.poetry.dependencies.uvicorn]
extras = ["standard"]
version = ">=0.23.1"

[tool.poetry.dev-dependencies]
bandit = "^1.7.5"
freezegun = "^1.2.2"
ruff = ">=0.12.2"
pyright = "^1.1.400"
pytest = "^7.0.0"
pytest-timeout = "^2.1.0"
pytest-xdist = "^3.8.0"
requests = ">=2.25.1, <3.0.0"
types-cachetools = "^6.0.0.20250525"
types-croniter = "^1.0.10"
types-requests = "^2.27.29"
google-auth = "^2.37.0"

[tool.poetry.extras]
all = ["dara-components"]

[tool.poetry.plugins."pydoc_markdown.interfaces.Renderer"]
docusaurus_internal = "docusaurus_internal:DocusaurusRenderer"

[tool.poetry.scripts]
dara = "dara.core.cli:cli"

[tool.pytest.ini_options]
timeout = 300
markers = [
    "pool: worker pool tests, should not be used with xdist"
]

[tool.poetry.plugins."dara_assets"]
dara-core = "dara.core._assets:asset_manifest"


