name: publish docs

on: workflow_dispatch

jobs:
  package-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup git config
        run: |
          git config --global --add safe.directory /__w/dara/dara
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"
      - uses: actions/setup-python@v4
        with:
          python-version: "3.9"
      - uses: snok/install-poetry@v1
        with:
          version: 1.8.3
      - name: Install Anthology
        run: poetry self add anthology
      - name: Setup cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@v4
        with:
            path: .venv
            key: venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('**/poetry.lock') }}
      - name: Install Python venv if cache was not found
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        run: poetry anthology install
      - name: Link venvs if cache was hit
        if: steps.cached-poetry-dependencies.outputs.cache-hit == 'true'
        run: make link
      - name: Get version
        id: get-version
        # Retrieves version from '"version": "<version>"' line in lerna.json
        run: |
          version=$(sed -n 's/.*"version": "\(.*\)".*/\1/p' lerna.json)
          echo "version=$version" >> $GITHUB_OUTPUT
      - name: Package and Publish Docs
        run: make publish-docs
        env:
          PROJECT: causalens-internal
          LOCATION: us-central1
          REPOSITORY: documentation
          PACKAGE: dara
          GAR_USERNAME: _json_key
          GAR_KEY_JSON: '${{ secrets.GAR_KEY_JSON }}'
          POETRY_HTTP_BASIC_CAUSALENS_USERNAME: _json_key
          POETRY_HTTP_BASIC_CAUSALENS_PASSWORD: '${{ secrets.GAR_KEY_JSON }}'
          VERSION: ${{ steps.get-version.outputs.version }}
          PACKAGE_PATHS: |
            packages/create-dara-app/create_dara_app
            packages/dara-components/dara.components
            packages/dara-core/dara.core
